@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @* O segredo está aqui: DefaultLayout *@
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Desculpe, não há nada neste endereço.</p>
        </LayoutView>
    </NotFound>
</Router>